Repository canonical/cloud-init, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, legal

.github/labeler.yml:

cicd:
  - .github/*
  - .github/**/*

documentation:
  - "**/*.md"
  - "**/*.adoc"
  - "docs/**/*"

legal:
  - LICENSE

test: comment about masks
  tests/unittests/distros/test_netconfig.py
Labels: none

Support transactional-updates for SUSE based distros
  cloudinit/config/cc_zypper_add_repo.py
  cloudinit/distros/opensuse.py
  tests/unittests/distros/test_opensuse.py
Labels: none

sticky bit irrelevant misconfig on /etc/netplan conf files
  cloudinit/net/netplan.py
  tests/unittests/distros/test_netconfig.py
Labels: none

netplan: keep custom strict perms when 50-cloud-init.yaml exists
  cloudinit/net/netplan.py
  tests/unittests/distros/test_netconfig.py
Labels: none

cc_disk_setup: code cleanup (#1996)
  cloudinit/config/cc_disk_setup.py
Labels: none

schema: fix gpt labels, use type string for GUID (#1995)
  cloudinit/config/schemas/schema-cloud-config-v1.json
  tests/unittests/config/test_cc_disk_setup.py
Labels: none

Recognize opensuse-microos
  cloudinit/config/cc_ntp.py
  cloudinit/config/cc_resolv_conf.py
  cloudinit/config/cc_zypper_add_repo.py
  cloudinit/distros/__init__.py
  cloudinit/distros/opensuse-leap.py
  cloudinit/distros/opensuse-microos.py
  cloudinit/distros/opensuse-tumbleweed.py
  cloudinit/distros/sle-micro.py
  cloudinit/distros/sle_hpc.py
  cloudinit/util.py
  templates/chrony.conf.opensuse-leap.tmpl
  templates/chrony.conf.opensuse-microos.tmpl
  templates/chrony.conf.opensuse-tumbleweed.tmpl
  templates/chrony.conf.sle-micro.tmpl
  templates/chrony.conf.sle_hpc.tmpl
  tests/unittests/test_cli.py
  tools/read-dependencies
Labels: none

docs: add themed RTD 404 page and pointer to readthedocs-hosted
  doc-requirements.txt
  doc/rtd/conf.py
Labels: none

Fix unit test on bare metal hardware
  tests/unittests/test_ds_identify.py
  tools/ds-identify
Labels: none

docs: add google search verification
  doc/rtd/conf.py
  doc/rtd/googleaf254801a5285c31.html
Labels: none

add links to downstream packages
  packages/README.md
Labels: documentation

docs: add themed RTD 404 page and pointer to readthedocs-hosted (#1993)
  doc-requirements.txt
  doc/rtd/conf.py
Labels: none

Fix OpenStack datasource detection on bare metal (#1923)
  cloudinit/distros/__init__.py
  cloudinit/sources/DataSourceOpenStack.py
  doc/examples/cloud-config-datasources.txt
  tests/unittests/distros/test__init__.py
  tests/unittests/sources/test_openstack.py
  tests/unittests/test_ds_identify.py
  tests/unittests/util.py
  tools/ds-identify
Labels: none

docs: fix 404 render use default notfound_urls_prefix in RTD conf
  doc/rtd/conf.py
Labels: none

d/patches: daily build recipe mock netplan root-readonly feature true
  debian/patches/retain-netplan-world-readable.patch
Labels: none

d/patches: daily build recipe mock netplan root-readonly feature true
  debian/patches/retain-netplan-world-readable.patch
Labels: none

d/patches: daily build recipe mock netplan root-readonly feature true
  debian/patches/retain-netplan-world-readable.patch
Labels: none

d/patches: daily build recipe mock netplan root-readonly feature true
  debian/patches/retain-netplan-world-readable.patch
Labels: none

Add "ederst" as contributor
  tools/.github-cla-signers
Labels: none

Update packages/README.md
  packages/README.md
Labels: documentation

docs: fix 404 render use default notfound_urls_prefix in RTD conf (#2004)
  doc/rtd/conf.py
Labels: none

freebsd
  packages/README.md
Labels: documentation

docs: add google search verification (#2000)
  doc/rtd/conf.py
  doc/rtd/googleaf254801a5285c31.html
Labels: none

docs: update downstream package list (#2002)
  packages/README.md
Labels: documentation

readme: add reference to packages dir
  README.md
Labels: documentation

explain build/install
  packages/README.md
Labels: documentation

Update packages/README.md
  packages/README.md
Labels: documentation

Update packages/README.md
  packages/README.md
Labels: documentation

readme: add reference to packages dir (#2001)
  README.md
  packages/README.md
Labels: documentation

Sort CLA signers file
  tools/.github-cla-signers
Labels: none

Add job to check CLA signers file
  .github/workflows/check_format.yml
Labels: cicd

Add script to sort CLA signers file
  CONTRIBUTING.rst
  tools/check-cla-signers
Labels: none

Add "ederst" as contributor (#2010)
  tools/.github-cla-signers
Labels: none

Fix path to check cla signers script in workflow
  .github/workflows/check_format.yml
Labels: cicd

cli: schema also validate vendordata*.
  cloudinit/config/schema.py
  cloudinit/safeyaml.py
  cloudinit/user_data.py
  tests/unittests/config/test_schema.py
  tests/unittests/test_safeyaml.py
Labels: none

ci: sort and add checks for cla signers file
  .github/workflows/check_format.yml
  CONTRIBUTING.rst
  tools/.github-cla-signers
  tools/check-cla-signers
Labels: cicd

cli: schema also validate vendordata*.
  cloudinit/config/schema.py
  cloudinit/safeyaml.py
  cloudinit/user_data.py
  tests/unittests/config/test_schema.py
  tests/unittests/test_safeyaml.py
Labels: none

oracle-ds: prefer system_cfg over ds network config source
  cloudinit/sources/DataSourceOracle.py
  tests/integration_tests/datasources/test_oci_networking.py
  tests/unittests/sources/test_oracle.py
Labels: none

remove vestigal dhclient_hook
  cloudinit/cmd/main.py
  cloudinit/dhclient_hook.py
  tests/unittests/test_cli.py
  tests/unittests/test_dhclient_hook.py
Labels: none

Kernel Module
  cloudinit/config/cc_kernel_modules.py
  cloudinit/config/schemas/schema-cloud-config-v1.json
  tests/unittests/config/test_schema.py
Labels: none
