Repository canonical/cloud-init, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, legal

Add mount_default_fields for PhotonOS. (#1952)
  config/cloud.cfg.tmpl
Labels: none

comments
  .travis.yml
Labels: none

ci: switch unittests to gh actions (#1956)
  .github/workflows/unit.yml
  .travis.yml
Labels: cicd

docs: update the link to readthedocs
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cicd, documentation

doc review comments
  cloudinit/cmd/clean.py
  doc/rtd/reference/cli.rst
Labels: none

update changelog (new upstream snapshot)
  debian/changelog
Labels: none

docs: update the PR template link to readthedocs (#1958)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cicd, documentation

link is working because of the redirects, but fix it anyways
  doc/rtd/reference/datasources/cloudsigma.rst
Labels: none

comments
  doc/rtd/reference/datasources/cloudsigma.rst
Labels: none

Fix wrong subp syntax in cc_set_passwords.py
  cloudinit/config/cc_set_passwords.py
  tests/integration_tests/modules/test_set_password.py
  tests/unittests/config/test_cc_set_passwords.py
Labels: none

Fix wrong subp syntax in cc_set_passwords.py (#1961)
  cloudinit/config/cc_set_passwords.py
  tests/integration_tests/modules/test_set_password.py
  tests/unittests/config/test_cc_set_passwords.py
Labels: none

doc: fix `config formats` link in cloudsigma.rst (#1960)
  doc/rtd/reference/datasources/cloudsigma.rst
Labels: none

add ibm to ingration_settings.py
  tests/integration_tests/integration_settings.py
Labels: none

build: support newer releases
  packages/bddeb
  packages/pkg-deps.json
Labels: none

Update packages/bddeb
  packages/bddeb
Labels: none

add proxy support for ansible galaxy
  cloudinit/config/cc_ansible.py
  cloudinit/config/schemas/schema-cloud-config-v1.json
  tests/integration_tests/modules/test_ansible.py
Labels: none

add port number
  tests/integration_tests/modules/test_ansible.py
Labels: none

bddeb: drop dh-systemd dependency on newer deb-based releases
  packages/bddeb
  packages/pkg-deps.json
Labels: none

fmt
  cloudinit/config/cc_ansible.py
  tests/integration_tests/modules/test_ansible.py
Labels: none

Ensure ssh state accurately obtained
  cloudinit/config/cc_set_passwords.py
Labels: none

add OpenCloudOS and TencentOS support,adjust lists to be alphabetical
  README.md
  cloudinit/config/cc_ntp.py
  cloudinit/config/cc_yum_add_repo.py
  cloudinit/distros/OpenCloudOS.py
  cloudinit/distros/TencentOS.py
  cloudinit/distros/__init__.py
  cloudinit/net/sysconfig.py
  cloudinit/util.py
  config/cloud.cfg.tmpl
  systemd/cloud-init-generator.tmpl
  systemd/cloud-init.service.tmpl
  tests/unittests/test_cli.py
  tests/unittests/test_util.py
  tools/.github-cla-signers
  tools/render-cloudcfg
Labels: documentation

cc_set_hostname: ignore /var/lib/cloud/data/set-hostname if it's empty
  cloudinit/config/cc_set_hostname.py
Labels: none

rename ibm tag
  tests/integration_tests/clouds.py
Labels: none

sources/azure: retry on connection error when fetching metdata
  cloudinit/sources/DataSourceAzure.py
  tests/unittests/sources/test_azure.py
Labels: none

Ensure ssh state accurately obtained (#1966)
  cloudinit/config/cc_set_passwords.py
Labels: none

s/PATH/PWD/
  tests/integration_tests/modules/test_ansible.py
Labels: none

resolve only name
  tests/integration_tests/modules/test_ansible.py
Labels: none

cleaner concat
  tests/integration_tests/modules/test_ansible.py
Labels: none

fmt
  cloudinit/config/cc_ansible.py
  tests/integration_tests/modules/test_ansible.py
Labels: none

sources/azure: retry on connection error when fetching metdata (#1968)
  cloudinit/sources/DataSourceAzure.py
  tests/unittests/sources/test_azure.py
Labels: none

machine-id: set to uninitialized to trigger regeneration on clones
  cloudinit/cmd/clean.py
  doc/rtd/reference/cli.rst
  tests/unittests/cmd/test_clean.py
Labels: none

distros/rhel.py: _read_hostname() missing strip on "hostname"
  cloudinit/distros/rhel.py
  tools/.github-cla-signers
Labels: none

integration tests: add IBM VPC support (SC-1352) (#1915)
  integration-requirements.txt
  tests/integration_tests/clouds.py
  tests/integration_tests/conftest.py
  tests/integration_tests/integration_settings.py
  tox.ini
Labels: none

add unit test for empty set-hostname file
  tests/unittests/config/test_cc_set_hostname.py
Labels: none

review comment
  tests/integration_tests/modules/test_ansible.py
Labels: none

distros/rhel.py: _read_hostname() missing strip on "hostname" (#1941)
  cloudinit/distros/rhel.py
  tools/.github-cla-signers
Labels: none

cc_set_hostname: ignore /var/lib/cloud/data/set-hostname if it's empty (#1967)
  cloudinit/config/cc_set_hostname.py
  tests/unittests/config/test_cc_set_hostname.py
Labels: none

change: perm for ssh host keys
  cloudinit/config/cc_ssh.py
Labels: none

fix link - thanks @Mazorius
  README.md
Labels: documentation

doc: fix dead link
  README.md
Labels: documentation

.github/labeler.yml:

cicd:
  - .github/*
  - .github/**/*

documentation:
  - "**/*.md"
  - "**/*.adoc"
  - "docs/**/*"

legal:
  - LICENSE
