Repository canonical/cloud-init, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, documentation, legal

.
  tox.ini
Labels: none

Update .github-cla-signers
  tools/.github-cla-signers
Labels: none

Update .github-cla-signers (#1811)
  tools/.github-cla-signers
Labels: none

Fix inconsistency between comment and statement (#1809)
  doc/examples/cloud-config-user-groups.txt
Labels: none

remove resolv_conf module
  config/cloud.cfg.tmpl
Labels: none

adding itjamie to .github-cla-signers
  tools/.github-cla-signers
Labels: none

apport: address new curtin log and config locations
  cloudinit/cmd/devel/logs.py
Labels: none

refactor for additional vars support
  cloudinit/sources/DataSourceNoCloud.py
Labels: none

Update DataSourceNoCloud.py
  cloudinit/sources/DataSourceNoCloud.py
Labels: none

make flake8 tests pass
  cloudinit/sources/DataSourceNoCloud.py
Labels: none

add versions, fix gh actions test
  .github/workflows/check_format.yml
  cloudinit/config/schemas/versions.schema.cloud-config.json
  tox.ini
Labels: cicd

Net: add BSD ifconfig(8) parser and state class (#1779)
  cloudinit/distros/networking.py
  cloudinit/distros/parsers/ifconfig.py
  tests/data/netinfo/freebsd-ifconfig-output
  tests/data/netinfo/openbsd-ifconfig-output
  tests/unittests/config/test_cc_power_state_change.py
  tests/unittests/config/test_cc_set_passwords.py
  tests/unittests/config/test_cc_users_groups.py
  tests/unittests/distros/test__init__.py
  tests/unittests/distros/test_ifconfig.py
  tests/unittests/distros/test_netbsd.py
  tests/unittests/distros/test_netconfig.py
  tests/unittests/distros/test_networking.py
Labels: none

Refresh d/p/expire-on-hashed-users.patch
  debian/patches/expire-on-hashed-users.patch
Labels: none

Refresh d/p/expire-on-hashed-users.patch
  debian/patches/expire-on-hashed-users.patch
Labels: none

Refresh d/p/expire-on-hashed-users.patch
  debian/patches/expire-on-hashed-users.patch
Labels: none

add mariner support (#1780)
  README.md
  cloudinit/config/cc_ntp.py
  cloudinit/config/cc_resolv_conf.py
  cloudinit/config/cc_yum_add_repo.py
  cloudinit/distros/__init__.py
  cloudinit/distros/mariner.py
  cloudinit/util.py
  config/cloud.cfg.tmpl
  templates/host.mariner.tmpl
  tests/unittests/distros/test_mariner.py
  tests/unittests/distros/test_netconfig.py
  tests/unittests/test_cli.py
  tests/unittests/test_render_cloudcfg.py
  tests/unittests/test_util.py
  tools/.github-cla-signers
  tools/render-cloudcfg
Labels: documentation

udevadm settle should handle non-udev system gracefully (#1806)
  cloudinit/util.py
  tests/unittests/test_util.py
Labels: none

tests: Ignore unsupported lxd project keys
  tests/integration_tests/modules/test_lxd.py
Labels: none

test: limit preseed projects checks
  tests/integration_tests/modules/test_lxd.py
Labels: none

Update vmware.rst
  doc/rtd/topics/datasources/vmware.rst
Labels: none

base64
  doc/examples/cloud-config-ansible-controller.txt
  tests/integration_tests/modules/test_ansible.py
Labels: none

tests: Ignore unsupported lxd project keys (#1817)
  tests/integration_tests/modules/test_lxd.py
Labels: none

update changelog
  debian/changelog
Labels: none

update changelog
  debian/changelog
Labels: none

update changelog
  debian/changelog
Labels: none

remove inaccurate statement from docs
  cloudinit/config/cc_grub_dpkg.py
Labels: none

Update tests/integration_tests/assets/echo_server.service
  tests/integration_tests/assets/echo_server.service
Labels: none

Stop using devices endpoint for LXD network config
  cloudinit/sources/DataSourceLXD.py
  tests/integration_tests/datasources/test_lxd_hotplug.py
  tests/unittests/sources/test_lxd.py
Labels: none

tests: Fix preseed test
  tests/integration_tests/modules/test_lxd.py
Labels: none

Fix last reported event possibly not being sent (#1796)
  cloudinit/cmd/main.py
  cloudinit/reporting/handlers.py
  tests/integration_tests/assets/echo_server.py
  tests/integration_tests/assets/echo_server.service
  tests/integration_tests/reporting/test_webhook_reporting.py
Labels: none

docs: switch sphinx theme to furo
  doc-requirements.txt
  doc/rtd/conf.py
Labels: none

drop not needed requirement
  doc-requirements.txt
Labels: none

drop toc as un furo is shown in the right side
  doc/rtd/topics/modules.rst
Labels: none

Ansible Control Module (#1778)
  cloudinit/config/cc_ansible.py
  cloudinit/config/schemas/schema-cloud-config-v1.json
  cloudinit/distros/__init__.py
  doc/examples/cloud-config-ansible-controller.txt
  doc/examples/cloud-config-ansible-managed.txt
  doc/examples/cloud-config-ansible-pull.txt
  doc/rtd/topics/examples.rst
  tests/unittests/config/test_cc_ansible.py
  tests/unittests/util.py
Labels: none

Auto-format schema (#1810)
  .github/workflows/check_format.yml
  cloudinit/config/schemas/schema-cloud-config-v1.json
  cloudinit/config/schemas/versions.schema.cloud-config.json
  tools/check_json_format.sh
  tox.ini
Labels: cicd

tests: Fix preseed test (#1820)
  tests/integration_tests/modules/test_lxd.py
Labels: none

cc_grub: reword docs for clarity (#1818)
  cloudinit/config/cc_grub_dpkg.py
Labels: none

apport: address new curtin log and config locations (#1812)
  cloudinit/cmd/devel/logs.py
Labels: none

run on 22.04 rather than 20.04
  .github/workflows/check_format.yml
Labels: cicd

fmt
  cloudinit/config/schemas/schema-cloud-config-v1.json
Labels: none

.github/labeler.yml:

cicd:
  - .github/*
  - .github/**/*

documentation:
  - "**/*.md"
  - "**/*.adoc"
  - "docs/**/*"

legal:
  - LICENSE
