Repository canonical/cloud-init, pull requests merged in 2023-07, with the labels that each got.

#2111 systemd: Block login until config stage completes
  systemd/cloud-config.service.tmpl
  systemd/cloud-init.service.tmpl
Labels: stale-pr

#4241 LXD moved from linuxcontainers.org to Canonical
  .github/workflows/cla.yml
  .github/workflows/integration.yml
  cloudinit/config/cc_lxd.py
  cloudinit/config/schemas/schema-cloud-config-v1.json
  cloudinit/sources/DataSourceLXD.py
  doc/rtd/howto/predeploy_testing.rst
  doc/rtd/reference/datasources/lxd.rst
  doc/rtd/reference/network-config.rst
  doc/rtd/tutorial/lxd.rst
  tests/integration_tests/modules/test_lxd.py
  tools/.github-cla-signers
  tools/check-cla-signers
  tools/ds-identify
Labels: documentation

#2139 Remove the crypt dependency
  cloudinit/distros/netbsd.py
  cloudinit/sources/DataSourceAzure.py
  doc/examples/cloud-config.txt
  requirements.txt
  tests/integration_tests/bugs/test_gh671.py
  tests/integration_tests/instances.py
  tests/unittests/sources/test_azure.py
  tox.ini
Labels: security
