Repository canonical/cloud-init, pull requests merged in 2023-12, with the labels that each got.

#4648 fix: Add schema for merge types
  cloudinit/config/schemas/schema-cloud-config-v1.json
  tests/unittests/test_merging.py
Labels: 23.4

#4599 config: Module documentation updates
  cloudinit/config/schemas/schema-cloud-config-v1.json
Labels: security

#4671 Add AlexSv04047 to CLA signers file
  tools/.github-cla-signers
Labels: CLA signed
