Repository canonical/cloud-init, pull requests merged in 2023-05, with the labels that each got.

#2142 Do not generate dsa and ed25519 key types when crypto FIPS mode is enabled
  cloudinit/config/cc_ssh.py
  cloudinit/util.py
  tests/unittests/config/test_cc_ssh.py
  tests/unittests/test_util.py
Labels: security

#2152 resolv_conf: Allow > 3 nameservers
  cloudinit/distros/parsers/resolv_conf.py
  tests/unittests/distros/test_resolv.py
  tools/.github-cla-signers
Labels: CLA signed

#2153 net: refactor hyper-v VF filtering and apply to get_interfaces()
  cloudinit/net/__init__.py
Labels: dependencies
