Repository canonical/cloud-init, pull requests merged in 2024-05, with the labels that each got.

#5235 fix(ntp): Fix AlmaLinux OS and CloudLinux OS support
  cloudinit/config/cc_ntp.py
  templates/chrony.conf.almalinux.tmpl
  templates/chrony.conf.cloudlinux.tmpl
  templates/ntp.conf.almalinux.tmpl
  templates/ntp.conf.cloudlinux.tmpl
  tools/.github-cla-signers
Labels: CLA signed

#5296 Fix ssh key permissions for redhat where 'ssh_keys' group is absent
  cloudinit/config/cc_ssh.py
  tests/unittests/config/test_cc_ssh.py
Labels: security

#5322 docs: Renderers/Activators have downstream overrides
  doc/rtd/reference/network-config.rst
Labels: documentation
