Repository canonical/cloud-init, pull requests merged in 2024-10, with the labels that each got.

#5682 tests: add OS_IMAGE_TYPE setting to allow for minimal tests
  doc/rtd/development/integration_tests.rst
  integration-requirements.txt
  tests/integration_tests/clouds.py
  tests/integration_tests/conftest.py
  tests/integration_tests/integration_settings.py
Labels: documentation

#5768 fix bond properties respect network schema and supported by network-manager
  cloudinit/config/schemas/schema-network-config-v1.json
  cloudinit/net/network_manager.py
  tests/unittests/net/test_network_manager.py
  tools/.github-cla-signers
Labels: CLA signed, documentation

#5800 lint: fix untyped-defs on /tests/unittest/cmd
  cloudinit/cmd/status.py
  pyproject.toml
  tests/unittests/cmd/devel/test_hotplug_hook.py
  tests/unittests/cmd/devel/test_render.py
  tests/unittests/cmd/test_clean.py
  tests/unittests/cmd/test_query.py
  tools/.github-cla-signers
Labels: CLA signed

#5817 doc: clarify workarounds required for single process changes
  doc/rtd/reference/breaking_changes.rst
Labels: documentation

#5772 feat: Conditionally remove networkd online dependency on Ubuntu
  cloudinit/cmd/main.py
  cloudinit/distros/__init__.py
  cloudinit/distros/ubuntu.py
  cloudinit/helpers.py
  cloudinit/net/activators.py
  systemd/cloud-init-network.service.tmpl
  tests/integration_tests/datasources/test_nocloud.py
  tests/integration_tests/modules/test_boothook.py
  tests/integration_tests/modules/test_combined.py
  tests/integration_tests/util.py
  tests/unittests/cmd/test_main.py
  tests/unittests/test_net_activators.py
Labels: packaging

#5840 fix: disable grub-dpkg by default
  cloudinit/config/cc_grub_dpkg.py
  cloudinit/config/schemas/schema-cloud-config-v1.json
  tests/unittests/config/test_cc_grub_dpkg.py
Labels: documentation
