Repository canonical/cloud-init, pull requests merged in 2024-12, with the labels that each got.

#5875 fix: Add "manual" to allowed subnet types
  cloudinit/config/schemas/schema-network-config-v1.json
  doc/rtd/reference/network-config-format-v1.rst
  tests/unittests/config/test_schema.py
  tools/.github-cla-signers
Labels: documentation

#5828 feat: Custom keys for apt archives
  cloudinit/config/cc_apt_configure.py
  templates/sources.list.debian.deb822.tmpl
  templates/sources.list.ubuntu.deb822.tmpl
  tests/unittests/config/test_apt_configure_sources_list_v3.py
  tests/unittests/config/test_cc_apt_configure.py
  tools/.github-cla-signers
Labels: CLA signed

#5924 feat: Identify Samsung Cloud Platform as OpenStack
  cloudinit/apport.py
  cloudinit/sources/DataSourceOpenStack.py
  doc/rtd/reference/datasources/openstack.rst
  tests/unittests/sources/test_openstack.py
  tests/unittests/test_ds_identify.py
  tools/.github-cla-signers
  tools/ds-identify
Labels: CLA signed, documentation
