Repository canonical/cloud-init, pull requests merged in 2024-04, with the labels that each got.

#5128 net/dhcp: raise InvalidDHCPLeaseFileError on error parsing dhcpcd lease
  cloudinit/net/dhcp.py
  tests/unittests/net/test_dhcp.py
Labels: 24.1

#5129 fix(dhcpcd): Make lease parsing more robust
  cloudinit/net/dhcp.py
  tests/unittests/net/test_dhcp.py
Labels: 24.1

#5122 feat(freebsd): support freebsd find part by gptid and ufsid
  cloudinit/util.py
  tests/unittests/distros/test_freebsd.py
  tools/.github-cla-signers
Labels: CLA signed

#4834 Add ftp support to NoCloud
  cloudinit/sources/DataSourceNoCloud.py
  cloudinit/url_helper.py
  cloudinit/util.py
  tests/integration_tests/datasources/test_nocloud.py
  tests/integration_tests/test_kernel_commandline_match.py
  tests/integration_tests/util.py
  tests/unittests/sources/test_maas.py
  tests/unittests/test__init__.py
  tests/unittests/test_util.py
Labels: security

#5220 test: Run Alpine tests without network
  .github/workflows/alpine-unittests.yml
Labels: wip
