Repository canonical/cloud-init, pull requests merged in 2024-11, with the labels that each got.

#5831 fix(smartos): Add `addrconf` IPv6 support
  cloudinit/sources/DataSourceSmartOS.py
  tests/unittests/sources/test_smartos.py
  tools/.github-cla-signers
Labels: CLA signed

#5852 Support networkd RequiredForOnline option
  cloudinit/config/schemas/schema-network-config-v2.json
  cloudinit/net/network_state.py
  cloudinit/net/networkd.py
  doc/rtd/reference/network-config-format-v2.rst
  tests/unittests/net/test_networkd.py
Labels: documentation

#5847 feat(vultr): add override for network interface detection
  cloudinit/sources/helpers/vultr.py
  tools/.github-cla-signers
Labels: CLA signed

#5874 Docs: improved mermaid diagram for better visibility. Add "MaheshG11" as contributor
  doc/rtd/conf.py
  doc/rtd/static/js/mermaid_config.js
  tools/.github-cla-signers
Labels: documentation

#5881 ubuntu/jammy: Fix bad refresh of no-single-process.patch
  debian/patches/no-single-process.patch
Labels: packaging

#5880 ubuntu/noble: Fix bad refresh of no-single-process.patch in 04fc0d8
  debian/patches/no-single-process.patch
Labels: packaging

#5857 chore: remove `--docs` option from `cloud-init schema`
  cloudinit/config/schema.py
  doc/rtd/conf.py
  tests/unittests/config/test_schema.py
  tests/unittests/runs/test_simple_run.py
  tests/unittests/test_cli.py
Labels: documentation

#5871 New tutorial
  doc/rtd/development/style_docs.rst
  doc/rtd/howto/index.rst
  doc/rtd/howto/launch_libvirt.rst
  doc/rtd/howto/launch_lxd.rst
  doc/rtd/howto/launch_multipass.rst
  doc/rtd/howto/launch_qemu.rst
  doc/rtd/howto/launch_wsl.rst
  doc/rtd/howto/launching.rst
  doc/rtd/howto/run_cloud_init_locally.rst
  doc/rtd/howto/shared/create_config.txt
  doc/rtd/howto/shared/download_image.txt
  doc/rtd/index.rst
  doc/rtd/spelling_word_list.txt
  doc/rtd/tutorial/index.rst
  doc/rtd/tutorial/lxd.rst
  doc/rtd/tutorial/qemu.rst
Labels: documentation
