Repository canonical/cloud-init, pull requests merged in 2024-08, with the labels that each got.

#5489 feat: single process optimization
  cloudinit/cmd/main.py
  cloudinit/cmd/status.py
  cloudinit/config/cc_mounts.py
  cloudinit/config/schemas/schema-cloud-config-v1.json
  cloudinit/log.py
  cloudinit/socket.py
  config/cloud.cfg.tmpl
  doc/module-docs/cc_mounts/data.yaml
  doc/rtd/explanation/boot.rst
  doc/rtd/howto/debugging.rst
  packages/redhat/cloud-init.spec.in
  systemd/cloud-config.service.tmpl
  systemd/cloud-config.target
  systemd/cloud-final.service.tmpl
  systemd/cloud-init-local.service.tmpl
  systemd/cloud-init-main.service.tmpl
  systemd/cloud-init-network.service.tmpl
  tests/integration_tests/assets/enable_coverage.py
  tests/integration_tests/assets/enable_profile.py
  tests/integration_tests/conftest.py
  tests/integration_tests/datasources/test_nocloud.py
  tests/unittests/cmd/test_main.py
  tests/unittests/config/test_cc_mounts.py
  tests/unittests/test_all_stages.py
  tests/unittests/test_cli.py
Labels: security, documentation, packaging

#5556 doc: improve integrations testing configuration instructions
  doc/rtd/development/integration_tests.rst
Labels: documentation

#5602 chore(actions): add doc label for any doc related subdir file matches
  .github/labeler.yml
Labels: documentation

#5617 Document dropping Python 3.6 and 3.7
  doc/rtd/development/contribute_code.rst
  doc/rtd/development/feature_flags.rst
Labels: documentation

#5385 Update behavior of base bond interface with NetworkManager
  cloudinit/net/network_manager.py
  tests/unittests/net/test_network_manager.py
Labels: CLA signed

#5383 Ensure bond property name formatting matches schema definition
  cloudinit/net/network_manager.py
  tests/unittests/net/network_configs.py
  tests/unittests/net/test_network_manager.py
  tests/unittests/test_net.py
Labels: CLA signed

#5633 fix(sources/wsl): no error with empty .cloud-init dir (SC-1862)
  cloudinit/sources/DataSourceWSL.py
  doc/rtd/reference/datasources/wsl.rst
  tests/unittests/sources/test_wsl.py
Labels: documentation

#5355 fix: cc_user_groups incorrectly assumes "useradd" never locks password field
  cloudinit/distros/__init__.py
  cloudinit/distros/alpine.py
  cloudinit/distros/bsd.py
  cloudinit/distros/freebsd.py
  cloudinit/distros/netbsd.py
  cloudinit/distros/networking.py
  cloudinit/distros/openbsd.py
  tests/integration_tests/modules/test_users_groups.py
  tests/unittests/distros/test_create_users.py
  tests/unittests/distros/test_dragonflybsd.py
  tests/unittests/distros/test_freebsd.py
  tests/unittests/distros/test_netbsd.py
  tests/unittests/distros/test_openbsd.py
Labels: security

#5639 docs: Clarify v2 set-name behavior
  doc/rtd/reference/network-config-format-v2.rst
Labels: documentation
