Repository canonical/cloud-init, pull requests merged in 2024-09, with the labels that each got.

#5640 fix(scaleway): Don't override IPv6 routes when IPv4 is not primary
  cloudinit/sources/DataSourceScaleway.py
  tests/unittests/sources/test_scaleway.py
  tools/.github-cla-signers
Labels: CLA signed

#5565 feat(ec2): Bump url_max_timeout to 240s from 120s.
  cloudinit/sources/DataSourceEc2.py
  doc/examples/cloud-config-datasources.txt
  tools/.github-cla-signers
Labels: CLA signed, documentation

#5661 chore: Prefer other methods over $INSTANCE_ID
  cloudinit/config/cc_phone_home.py
  cloudinit/stages.py
  doc/examples/cloud-config-boot-cmds.txt
  doc/examples/cloud-config.txt
  doc/man/cloud-init-per.1
  doc/module-docs/cc_bootcmd/data.yaml
  doc/module-docs/cc_phone_home/data.yaml
  doc/module-docs/cc_phone_home/example1.yaml
  doc/module-docs/cc_phone_home/example2.yaml
  doc/rtd/explanation/format.rst
  doc/rtd/explanation/instancedata.rst
  doc/rtd/howto/module_run_frequency.rst
  doc/rtd/reference/cli.rst
  doc/userdata.txt
  tests/data/merge_sources/expected9.yaml
  tests/data/merge_sources/source9-1.yaml
  tests/integration_tests/modules/test_boothook.py
  tests/integration_tests/test_multi_part_user_data_handling.py
  tests/unittests/config/test_cc_bootcmd.py
Labels: documentation

#5681 doc: remove misleading warning
  doc/rtd/explanation/events.rst
Labels: documentation

#5647 fix(schema): Allow for locale: false in schema add tests
  cloudinit/config/schemas/schema-cloud-config-v1.json
  doc/module-docs/cc_locale/data.yaml
  doc/module-docs/cc_locale/example3.yaml
  tests/unittests/config/test_cc_locale.py
Labels: documentation

#1351 Cloudcix ds
  cloudinit/apport.py
  cloudinit/settings.py
  cloudinit/sources/DataSourceCloudCIX.py
  cloudinit/url_helper.py
  doc/rtd/reference/datasources.rst
  doc/rtd/reference/datasources/cloudcix.rst
  tests/unittests/sources/test_cloudcix.py
  tests/unittests/sources/test_common.py
  tests/unittests/test_ds_identify.py
  tests/unittests/test_upgrade.py
  tools/.github-cla-signers
  tools/ds-identify
Labels: documentation

#5700 remove newline injected for cloud-init status --wait
  cloudinit/cmd/status.py
  tests/unittests/cmd/test_status.py
  tools/.github-cla-signers
Labels: CLA signed

#5741 chore: update docs URLs to cloud-init.io
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/cla.yml
  CONTRIBUTING.md
  README.md
  cloudinit/analyze/__init__.py
  cloudinit/cmd/main.py
  cloudinit/net/network_state.py
  doc/man/cloud-id.1
  doc/man/cloud-init-per.1
  doc/rtd/development/datasource_creation.rst
  doc/rtd/links.txt
  doc/summit/2023_summit_shared_notes.md
  integration-requirements.txt
  systemd/cloud-config.service.tmpl
  systemd/cloud-final.service.tmpl
  systemd/cloud-init-local.service.tmpl
  systemd/cloud-init-network.service.tmpl
  tests/unittests/analyze/test_boot.py
Labels: documentation

#5745 doc: do not document user.meta-data key
  doc/rtd/explanation/format.rst
  doc/rtd/explanation/instancedata.rst
  doc/rtd/reference/datasources/lxd.rst
Labels: documentation

#5752 docs: fix WSL tutorial
  doc/rtd/tutorial/wsl.rst
Labels: documentation
