Repository canonical/cloud-init, pull requests merged in 2025-03, with the labels that each got.

#6063 feat(vmware): Support network events
  cloudinit/sources/DataSourceVMware.py
  doc/rtd/reference/datasources/vmware.rst
  tests/unittests/sources/test_vmware.py
  tests/unittests/test_upgrade.py
Labels: documentation

#6081 Allow to set mac_address for VLAN subinterface
  cloudinit/config/schemas/schema-network-config-v1.json
  cloudinit/sources/helpers/openstack.py
  doc/rtd/reference/network-config-format-v1.rst
  tests/unittests/sources/helpers/test_openstack.py
  tools/.github-cla-signers
Labels: CLA not signed, documentation

#6109 chore: switch to has-signed-canonical-cla GH action
  .github/workflows/cla.yml
  doc/rtd/development/contribute_docs.rst
  doc/rtd/development/first_PR.rst
  doc/rtd/development/index.rst
  tools/.github-cla-signers
  tools/.lp-to-git-user
  tools/check-cla-signers
  tools/migrate-lp-user-to-github
Labels: documentation

#6104 lint: Fix untyped-defs on tests/unittests/config
  pyproject.toml
  tests/unittests/config/test_cc_ansible.py
  tests/unittests/config/test_cc_mounts.py
  tests/unittests/config/test_cc_runcmd.py
  tests/unittests/config/test_cc_ssh.py
  tests/unittests/config/test_cc_ubuntu_drivers.py
Labels: CLA signed

#6116 chore: remove remaining references to .github-cla-signers
  .github/PULL_REQUEST_TEMPLATE.md
  doc/rtd/development/contribute_code.rst
  doc/rtd/development/contribute_docs.rst
  doc/rtd/development/index.rst
Labels: documentation

#6105 Handle ssh_config being /usr and inheriting user configuration from sshd_config.d
  cloudinit/ssh_util.py
  tests/unittests/test_ssh_util.py
Labels: CLA not signed
