Repository canonical/cloud-init, pull requests merged in 2025-01, with the labels that each got.

#5941 docs: fix typo in generated file usage for launch_lxd doc
  doc/rtd/howto/launch_lxd.rst
  tools/.github-cla-signers
Labels: CLA signed, documentation

#5925 feat(cc_chef): Allow change of Chef configuration file
  cloudinit/config/cc_chef.py
  cloudinit/config/schemas/schema-cloud-config-v1.json
  tools/.github-cla-signers
Labels: documentation

#5933 fix: use program name of netcat as installed by upstream, "nc"
  systemd/cloud-config.service
  systemd/cloud-final.service
  systemd/cloud-init-local.service.tmpl
  systemd/cloud-init-network.service.tmpl
Labels: stale-pr

#5988 add INSTANCE_TYPE integration settings and lessen integration log spams
  doc/rtd/development/integration_tests.rst
  tests/integration_tests/clouds.py
Labels: documentation
